################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BlocksEditor/bin
/BlocksEditor/obj
/BlocksLibrary/bin
/BlocksLibrary/obj
/BlocksTests/bin
/BlocksTests/obj
/packages
